Repository horizon-efrei/HorizonWeb, pull requests merged in 2022-01, with the labels that each got.

#76 Add favorites
  api/src/app.module.ts
  api/src/favorites/entities/article-favorite.entity.ts
  api/src/favorites/entities/comment-favorite.entity.ts
  api/src/favorites/entities/favorite.entity.ts
  api/src/favorites/entities/post-favorite.entity.ts
  api/src/favorites/entities/reply-favorite.entity.ts
  api/src/favorites/favorites.controller.ts
  api/src/favorites/favorites.module.ts
  api/src/favorites/favorites.service.ts
  api/src/favorites/services/article-favorites.service.ts
  api/src/favorites/services/comment-favorites.service.ts
  api/src/favorites/services/post-favorites.service.ts
  api/src/favorites/services/reply-favorites.service.ts
  api/src/reactions/reactions.module.ts
  api/src/replies/replies.controller.ts
  site/src/components/FavComment.vue
  site/src/components/FavPost.vue
  site/src/components/FavReply.vue
Labels: difficulty: complex, priority: high, status: approved, type: feature, target: backend, target: frontend, scope: forum

#79 Feature: Add typesense (backend)
  api/.env.example
  api/package-lock.json
  api/package.json
  api/src/articles/article-search.service.ts
  api/src/articles/articles.controller.ts
  api/src/articles/articles.module.ts
  api/src/articles/articles.service.ts
  api/src/articles/dto/create-article.dto.ts
  api/src/articles/entities/article.entity.ts
  api/src/comments/comments.controller.ts
  api/src/comments/comments.service.ts
  api/src/config.ts
  api/src/posts/post-search.service.ts
  api/src/posts/posts.controller.ts
  api/src/posts/posts.module.ts
  api/src/posts/posts.service.ts
  api/src/reactions/reaction.enum.ts
  api/src/replies/replies.service.ts
  api/src/shared/lib/constants.ts
  api/src/shared/lib/decorators/typesense-index.decorator.ts
  api/src/shared/lib/utils/extractTextFromTiptap.ts
  api/src/shared/modules/search/search.dto.ts
  api/src/shared/modules/search/search.service.ts
  api/src/subjects/subject-search.service.ts
  api/src/subjects/subjects.controller.ts
  api/src/subjects/subjects.module.ts
  api/src/subjects/subjects.service.ts
  api/src/typesense.config.ts
  api/src/users/user-search.service.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/src/users/users.service.ts
Labels: difficulty: medium, priority: high, type: feature, target: backend, scope: *

#78 Refactor files and add new types
  api/src/app.module.ts
  api/src/files/attachments/attachment.entity.ts
  api/src/files/attachments/attachments.controller.ts
  api/src/files/attachments/attachments.module.ts
  api/src/files/attachments/attachments.service.ts
  api/src/files/attachments/content-options-xor.type.ts
  api/src/files/attachments/dto/create-attachment.dto.ts
  api/src/files/doc-series/doc-series.entity.ts
  api/src/files/dto/create-attachment.dto.ts
  api/src/files/entities/attachment.entity.ts
  api/src/files/entities/avatar.entity.ts
  api/src/files/file-uploads/dto/create-file-upload.dto.ts
  api/src/files/file-uploads/file-upload.entity.ts
  api/src/files/file-uploads/file-uploads.controller.ts
  api/src/files/file-uploads/file-uploads.module.ts
  api/src/files/file-uploads/file-uploads.service.ts
  api/src/files/files.controller.ts
  api/src/files/files.module.ts
  api/src/files/info-docs/dto/create-info-doc.dto.ts
  api/src/files/info-docs/dto/update-info-doc.dto.ts
  api/src/files/info-docs/info-doc.entity.ts
  api/src/files/info-docs/info-docs.controller.ts
  api/src/files/info-docs/info-docs.module.ts
  api/src/files/info-docs/info-docs.service.ts
  api/src/files/profile-images/dto/create-profile-image.dto.ts
  api/src/files/profile-images/profile-image.entity.ts
  api/src/files/profile-images/profile-images.controller.ts
  api/src/files/profile-images/profile-images.module.ts
  api/src/files/profile-images/profile-images.service.ts
  api/src/files/study-docs/dto/create-study-doc.dto.ts
  api/src/files/study-docs/dto/update-study-doc.dto.ts
  api/src/files/study-docs/study-doc.entity.ts
  api/src/files/study-docs/study-docs.controller.ts
  api/src/files/study-docs/study-docs.module.ts
  api/src/files/study-docs/study-docs.service.ts
  api/src/shared/lib/decorators/upload-interceptor.decorator.ts
  api/src/shared/lib/types/file-kind.enum.ts
  api/src/shared/modules/casl/casl-ability.factory.ts
Labels: difficulty: medium, type: feature, priority: critical, target: backend, scope: file-sharing

#86 Refactor des scripts de mise en prod et du Docker
  .env.example
  CONTRIBUTING.md
  README.md
  api/.dockerignore
  api/.env.example
  api/Dockerfile
  api/README.md
  api/scripts/initfs.sh
  api/scripts/launch.sh
  api/src/config.ts
  api/src/main.ts
  api/src/shared/lib/utils/enumKeys.ts
  api/src/typesense.config.ts
  docker-compose.yml
  scripts/01_users.sql
  scripts/02_db.sql
Labels: difficulty: easy, status: approved, type: bug, type: enhancement, priority: critical, target: backend, scope: *

#87 Add Badges, Clubs and Socials
  api/package.json
  api/src/app.module.ts
  api/src/badges/badge-unlock.entity.ts
  api/src/badges/badge.entity.ts
  api/src/badges/badges.controller.ts
  api/src/badges/badges.module.ts
  api/src/badges/badges.service.ts
  api/src/badges/dto/create-badge.dto.ts
  api/src/badges/dto/update-badge.dto.ts
  api/src/clubs/club-member.entity.ts
  api/src/clubs/club-search.service.ts
  api/src/clubs/club.entity.ts
  api/src/clubs/clubs.controller.ts
  api/src/clubs/clubs.module.ts
  api/src/clubs/clubs.service.ts
  api/src/clubs/dto/create-club-member.dto.ts
  api/src/clubs/dto/create-club.dto.ts
  api/src/clubs/dto/update-club-member.dto.ts
  api/src/clubs/dto/update-club.dto.ts
  api/src/shared/lib/types/badge-level.enum.ts
  api/src/shared/modules/casl/casl-ability.factory.ts
  api/src/socials/dto/create-social-account.dto.ts
  api/src/socials/dto/create-social.dto.ts
  api/src/socials/dto/update-social-account.dto.ts
  api/src/socials/dto/update-social.dto.ts
  api/src/socials/entities/club-social-account.entity.ts
  api/src/socials/entities/social-account.entity.ts
  api/src/socials/entities/social.entity.ts
  api/src/socials/entities/user-social-account.entity.ts
  api/src/socials/socials.controller.ts
  api/src/socials/socials.module.ts
  api/src/socials/socials.service.ts
  api/src/users/dto/update-user.dto.ts
  api/src/users/user.entity.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/src/users/users.service.ts
Labels: difficulty: complex, priority: high, type: feature, target: backend, scope: user

#92 Add user profile on the frontend
  api/src/users/dto/update-user.dto.ts
  api/src/users/user.entity.ts
  api/src/users/users.controller.ts
  site/site - Raccourci.lnk
  site/src/components/Card/UserCard.vue
  site/src/components/FavComment.vue
  site/src/components/FavPost.vue
  site/src/components/FavReply.vue
  site/src/components/Settings/AccessibilitySettings.vue
  site/src/components/Settings/AssociationSettings.vue
  site/src/components/Settings/BadgeSettings.vue
  site/src/components/Settings/ExternalAccount.vue
  site/src/components/Settings/UserProfile.vue
  site/src/components/TopBar.vue
  site/src/components/UserProfile.vue
  site/src/router/index.js
  site/src/services/auth.service.js
  site/src/services/user.service.js
  site/src/services/users.service.js
  site/src/store/auth.module.js
  site/src/store/index.js
  site/src/store/users.module.js
  site/src/views/FavoritesPage.vue
  site/src/views/ProfileShow.vue
  site/src/views/UserSettings.vue
Labels: priority: high, type: feature, target: frontend, scope: user

#93 Add more profile features
  site/src/components/Settings/UserProfile.vue
  site/src/services/users.service.js
  site/src/store/auth.module.js
  site/src/views/ProfileShow.vue
Labels: priority: medium, type: feature, target: frontend, scope: user

#107 Enhance file upload UI and UX
  site/src/assets/scss/components/button.scss
  site/src/components/App/AppAlert.vue
  site/src/components/App/AppEmoji.vue
  site/src/components/Bar/SearchBar.vue
  site/src/components/Document/DocumentIcon.vue
  site/src/components/Document/FileFolder.vue
  site/src/components/Form/FormMultiStep.vue
  site/src/components/Input/DropDownInput.vue
  site/src/components/Input/FileInput.vue
  site/src/components/Input/RadioInput.vue
  site/src/components/Input/SearchInput.vue
  site/src/fake/tree.js
  site/src/fontawesome-icons.js
  site/src/views/Document/DocumentList.vue
  site/src/views/Document/DocumentNew.vue
Labels: priority: medium, type: enhancement, target: frontend, scope: file-sharing
